<!DOCTYPE>
<html>
    <head>
        <title>INDEX DEZZ</title>
    </head>
    <body>
        {% for page in pages %}
            <a href="{{ pages[page]['path'] }}">{{ pages[page]['title'] }}</a>
        {% endfor %}
    </body>
</html>
