global
    log stdout format raw local0
    daemon
    maxconn 256

defaults
    log     global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms



frontend http-in
    bind *:80
    default_backend web_servers

backend web_servers
    option httpchk GET /
    server server_primary {{ groups['nginx_primary'][0]}}:80 check weight 10
    server server_secondary {{ groups['nginx_secondary'][0]}}:80 check
